body{
    font-family: 'Dosis', sans-serif;
  font-weight: 300;
  color: #333;
  }
  header {
    border-bottom: 1px solid #007413;
  }
  h1 {
    color:#31dd2b;
  }
  h2{
    color:#033a18;
  }
  footer {
    text-align: center;
    color:#00a82a;
  }